/* ===============================
   LARGE SCREEN STYLES
   =============================== */
@media screen and (min-width: 768px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    #hamburger {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        background-color: transparent;
        gap: 1rem;
    }

    nav li {
        border-bottom: none;
    }

    nav a {
        padding: 0.5rem 1rem;
    }

    .figures {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}