@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
    color: #333;
}


header {
    width: 100%;
}

.header-title {
    background-color: #3b4a5a;
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: #2b2b2b;
    padding: 0.8rem 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1.5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

main h1 {
    grid-column: 1 / -1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #3b4a5a;
    margin-bottom: 1rem;
}


.card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
}

.card h2 {
    background-color: #3b4a5a;
    color: #fff;
    padding: 0.6rem;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1rem;
}


.about-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.about-flex p {
    max-width: 60%;
}


.location-flex {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.location-flex p {
    max-width: 65%;
}


img {
    width: 150px;
    height: auto;
    border-radius: 6px;
}

.underline {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background-color: #333;
}


.resources {
    list-style: disc;
    padding-left: 1.5rem;
}

.resources li {
    margin-bottom: 0.5rem;
}

.resources a {
    color: #0056b3;
    text-decoration: none;
}

.resources a:hover {
    text-decoration: underline;
}


footer {
    background-color: #3b4a5a;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

#lastModified {
    color: #f4c430;
    font-weight: 600;
}